<div class="row">
    <div class="col">
        <a class="btn btn-success" href="@Url.Action("Index","Home", new { area=""})">
            Anasayfa
        </a>
    </div>
    <div class="col">
        <a class="btn btn-info" href="@Url.Action("Index","Home", new {area="Admin"})">
            Yönetici Sayfası
        </a>
    </div>
    <div class="col">
        <a class="btn btn-warning" href="@Url.Action("Index","Category", new {area="Admin"})">
            KATEGORILER
        </a>
    </div>
</div>
